.header {
  display: flex;
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 100px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #93007d4f;
  opacity: 1;
}
.header .logo {
  top: 17px;
  left: 100px;
  width: 171px;
  height: 67px;
  opacity: 1;
  position: absolute;
}
.title {
  top: 10px;
  position: absolute;
  left: 798px;
  width: 380px;
  height: 48px;
  text-align: center;
  font: normal normal normal 40px/48px Lato;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
}
.header .inner-div {
  top: 45px;
  left: 1563px;
  width: 265px;
  height: 25px;
  opacity: 1;
  position: absolute;
  justify-content: space-around;
  display: flex;
}

.welcome-text {
  top: -11px;
  left: -5px;
  width: 65px;
  height: 18px;
  text-align: left;
  position: relative;
  font: normal normal normal 15px/18px Lato;
  letter-spacing: 0.51px;
  color: #444444;
  opacity: 1;
}
.icon-notification {
  top: 48px;
  left: 1563px;
  width: 17px;
  height: 20px;
  opacity: 1;
  /* position: sticky; */
}
.doc-name {
  top: -11px;
  left: 0px;
  width: 110px;
  height: 18px;
  position: relative;
  text-align: left;
  font: normal normal normal 15px/18px Lato;
  letter-spacing: 0.51px;
  color: #444444;
  opacity: 1;
}
.icon-profile {
  top: 45px;
  left: 1667px;
  width: 25px;
  height: 25px;
  /* position: sticky; */
  opacity: 1;
}
.header .icon-arrow {
  top: 11px;
  left: 0px;
  width: 8px;
  height: 6px;
  opacity: 1;
  position: relative;
}
.div-btn {
  margin-top: 10px;
  margin-left: 115px;
  width: 73px;
  height: 57px;
  display: grid;
  position: absolute;
}
.btn-icons {
  top: 198px;
  margin-left: 10px;
  margin-top: 27px;
  width: 55px;
  height: 54px;
}
.btn-title {
  top: 42px;
  width:80px;
  text-align: left;
  font: normal normal normal 16px/19px Lato;
  letter-spacing: -0.03px;
  color: #444444;
  opacity: 1;
  position: absolute;
  display: inline-block;
}
.btn-data {
  /* margin-left: 50px;
    margin-top: 38px; */
  text-align: left;
  font: normal normal bold 32px/39px Lato;
  letter-spacing: 1.09px;
  color: #444444;
  opacity: 1;
}
.scheduled {
  top: 161px;
  left: 277px;
  width: 237px;
  height: 108px;
  position: absolute;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #8e4b814d;
  border-radius: 7px;
  opacity: 1;
  display: flex;
}
.active {
  top: 161px;
  left: 722px;
  width: 237px;
  height: 108px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #8e4b814d;
  position: absolute;
  display: flex;
  border-radius: 7px;
  opacity: 1;
}
.in-progress {
  top: 161px;
  left: 1167px;
  width: 237px;
  height: 108px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #8e4b814d;

  display: flex;
  border-radius: 7px;
  position: absolute;
  opacity: 1;
}
.closed {
  top: 161px;
  left: 1612px;
  width: 237px;
  height: 108px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #8e4b814d;
  border-radius: 7px;
  opacity: 1;
  position: absolute;
  display: flex;
}

.table {
  top: 343px;
  margin-left: 50px;
  width: 1500px;
  height: auto;
  border-spacing: 10px;
}
th {
  text-align: left;
  font: normal normal bold 22px/27px Lato;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;

  border-bottom: 1px solid rgb(250, 245, 245);
}
td {
  text-align: left;
  font: normal normal normal 22px/27px Lato;
  letter-spacing: 0px;
  color: #444444;
  opacity: 1;
  border-bottom: 1px solid whitesmoke;
}
.navbar {
  display: flex;
  margin-top: 50px;
}
.btn-grp {
  text-align: left;
  font: normal normal bold 22px/27px Lato;
  letter-spacing: 0px;
  color: #40006d;
  opacity: 1;
  width: 50px;
  height: 29px;
}

.btn {
  border: none;

  padding: 1.5rem 2rem;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 0;
  font-size: 22px;
  /* font: normal normal bold 22px/27px Lato; */
  box-shadow: inset 0px 0px 0px -15px rebeccapurple;
  transition: all 300ms ease-out;
  text-transform: capitalize;
}
.btn:focus
  /* ,.btn:focus  */ {
  color: rebeccapurple;
  border: none;
  box-shadow: inset 0px -20px 0px -15px rebeccapurple;
}
#searchbox {
  margin-top: 15px;
  left: 910px;
  position: absolute;
  width: 617px;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e2d3ec;
  border-radius: 4px;
  opacity: 1;
  padding-left: 15px;
  padding-right: 40px;
}
#search-icon {
  top: 80px;
  left: 1500px;
  position: absolute;
  width: 17px;
  height: 17px;
  z-index: 10;
}
