.form-container {
    width: 1920px;
    height: 1080px;
    display: flex;
  }
  .imagebox {
    top: -63.99993896484375px;
    left: -28.99951171875px;
    width: 1042px;
    height: 1295px;
    background: transparent url("images/logo.png") 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
  }
  .Alignment {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    bottom: 20%;
  }
  
  .image {
    top: -63.99993896484375px;
    left: -28.99951171875px;
    width: 1013px;
    height: 1080px;
    background: transparent url("images/logo.png") 0% 0% no-repeat padding-box;
    mix-blend-mode: soft-light;
    opacity: 0.52;
  }
  
  .login-box {
    top: 321px;
    left: 1118px;
    width: 644px;
    height: 490px;
    /* margin-left: 105px; */
    position: absolute;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #c740a94d;
    border-radius: 8px;
    opacity: 1;
  }
  
  .Logo-Brand {
    width: 171px;
    height: 67px;
    margin-left: 237px;
    margin-top: 0px;
    background: transparent url("images/brand1.png") 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  
  .Login-button {
    background-color: #f307c0;
    color: white;
    margin: 4px 2px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
  }
  
  /* input[type="submit"]::placeholder {
    padding: 6px;
    text-align: center;
    font-weight: normal;
    font: normal normal normal 17px/21px Lato;
    font-size: 17px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
  }*/
  
  /* input[type="text"]::placeholder {
    padding: 10px;
    font: normal normal normal 17px/21px Lato;
    font-weight: normal;
    font-size: 17px;
    color: #292929;
    opacity: 0.35;
    letter-spacing: normal;
  } */
  /*
  input[type="password"]::placeholder {
    padding: 10px;
    font: normal normal normal 17px/21px Lato;
    font-weight: normal;
    font-size: 17px;
    color: #292929;
    opacity: 0.35;
    text-align: left;
  } */
  
  /* input[type="text"] {
    padding: 10px;
  }
  
  input[type="password"] {
    padding: 10px;
  } */
  
  #forgot {
    margin: 10px 0px 0px 200px;
    padding: 0px;
    text-align: right;
    margin: 0 60px;
    position: absolute;
    left:325px;
    text-align: center;
    text-decoration: underline;
    font: normal normal normal 15px/18px Lato;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
  }
  
  .forgot:link {
    color: #444444;
    background-color: transparent;
  }
  
  .a:link {
    color: #444444;
    background-color: transparent;
  }
  
  a:visited {
    color: #444444;
    background-color: transparent;
  }
  
  a:hover {
    color: #444444;
    background-color: transparent;
  }
  
  #welcome-text{
    margin-left: 269px;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 124px;
    height: 36px;
    text-align: center;
    font: normal normal normal 30px/36px Lato;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
  }

  .Login-button {
    margin-top: 22px;
    margin-left: 142px;
    width: 362px;
    height: 33px;
    background: #c740a9 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    text-decoration:none;
    
  }
  
  .Login-button:hover {
    transition: 0.5s;
    text-decoration: none;
  }
  
  .input-text {
    margin-top: 29px;
    margin-left: 142px;
    width: 360px;
    height: 40px;
    padding-left: 20px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #c740a9;
    opacity: 1;
  }
  
  /* .input-text:hover {
    background-color: #c740a9;
    transition: 0.5s;
    color: white;
  } */
  
  .input-pas {
    width: 360px;
    height: 40px;
    margin-left: 142px;
    margin-top: 30px;
    margin-bottom: 10px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #c740a9;
    opacity: 1;
    text-align: left;
    font: normal normal normal 17px/21px Lato;
    letter-spacing: 0px;
    color: #292929;
    padding-left: 20px;
  }
  /* 
  .input-pas:hover {
    background-color: #c740a9;
    transition: 0.5s;
    color: white;
  } */
  
  .small-text {
    /* margin: 20px 150px 0px 5px; */
    font-size: 12px;
    /* margin-left: 160px;
    margin-top: 30px; */

  }
  
  /* .forgot {
    margin: 0 95px;
    color: #c740a9;
  } */
  
  .form-div {
    align-items: center;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #c740a94d;
    border-radius: 8px;
    opacity: 1;
  }
  
  .dropdown {
    margin-top: 29px;
    margin-left: 142px;
    width: 360px;
    padding-left: 20px;
    height: 40px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #c740a9;
    opacity: 1;
  }
  
  .dropdown:hover {
    transition: 0.5s;
  }
  
  select::placeholder {
    background: #ffffff 0% 0% no-repeat padding-box;
    font-family: lato;
    padding: 10px;
    opacity: 0.35;
  }
  